@import '../../styles/colors';
@import '../../styles/mixins';

.TextField {
    max-width: 55rem;
    margin: 2rem 0;
    
    label {

        input, textarea {
            &.error {
                border: .3rem solid red;
            }
        }

        textarea {
            min-height: 10rem;
            resize: vertical;
            padding: 1rem;

            &::-webkit-scrollbar {
              width: .5rem;
            }
          
            &::-webkit-scrollbar-track {
              background-color: transparent;
              border: .5rem solid transparent;
            }
          
            &::-webkit-scrollbar-thumb {
              border-radius: 10rem;
              background-color: $sky-blue;
            }
          }
    }
}